/* 718px */
@media (max-width: 44.875em) {
    html {
        font-size: 50%;
    }

    .heading-primary {
        font-size: 7.8rem;
    }
}

/* 390 px */
@media (max-width: 24.375em) {
    html {
        font-size: 40%;
    }

    .heading-primary {
        font-size: 7.2rem;
    }
}

/* 750 px */
@media (max-height: 46.875em) {
    .container {
        transform: translate(-50%, -50%);
    }
}
