// * Variables
$color-primary: #1f1f1f;
$color-secondary: #bababa;

// * Resets

*,
*::before,
*::after {
    box-sizing: border-box;
}

header,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

html {
    font-size: 10px;

    height: 100%;

    &:focus-within {
        scroll-behavior: smooth;
    }
}

body {
    height: 100%;
    overflow-x: hidden;

    padding: 2rem 0;

    text-rendering: optimizeSpeed;

    line-height: 1.5;
    font-size: 1.8rem;
    overflow-x: hidden;
    font-family: "Orbitron", sans-serif;

    background-color: white !important;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 120%;
    display: block;
}

button {
    font: inherit;
}

svg {
    transition: opacity 400ms;
}

// * Mixins

@mixin flex-container($gap: 0, $direction: column) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
    gap: $gap;
}
