@import "_base.scss";

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include flex-container(8rem);
}

.heading {
    @include flex-container();
}

.content {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.guess {
    @include flex-container();

    &-letters {
        @include flex-container(2rem, row);
        flex-wrap: wrap;

        width: 48rem;
    }
}

.secret-word {
    @include flex-container(2rem, row);
}
