@import "_base.scss";

// * Body
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    @include flex-container(8rem);

    margin-bottom: 2rem;
}

.heading {
    @include flex-container();
}

.content {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.guess {
    @include flex-container();

    &-letters {
        @include flex-container(2rem, row);
        flex-wrap: wrap;

        width: 48rem;
    }
}

.secret-word {
    @include flex-container(2rem, row);
}
