@media (min-width: 2000px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 1056px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 914px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 750px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }

    .ending-bg-text {
        display: none;
    }

    .restart-icon {
        top: 2%;
        right: 2%;
    }

    .secret-word {
        flex-wrap: wrap;
    }
}

@media (max-width: 515px) {
    html {
        font-size: 30%;
    }
}
